= render 'partials/content_structure' do
  = render 'shop/partials/shop_structure'
  .card-block
    %p Creando nuevo botón
    = simple_form_for [@shop, @button], url: {action: :create} do |f|
      = f.input :name, label: 'Nombre'
      = f.input :description, label: 'Descripción', as: :text
      = f.input :price, label: 'Monto', input_html: {value: f.object.price || '0'}
      = f.input :charge, label: 'Cargo', input_html: {value: f.object.charge || '0'}
      = f.input :is_stock, label: '¿Posee stock?'
      = f.input :stock, label: 'Stock'

      = f.submit 'Añadir botón', class: 'btn btn-danger btn-md'
      = link_to 'Cancelar', button_index_path, class: 'btn-flat'