= render 'partials/content_structure' do
  = render 'shop/partials/shop_structure'
  .card-block
    %p Detalles botón de pago
    .table-responsive
      %table.table.table-bordered
        %tbody
          %tr
            %td.collapsing Nombre
            %td #{@button.name}
          %tr
            %td.collapsing Descripción
            %td #{@button.description_param}
          %tr
            %td.collapsing Precio
            %td #{@button.price_param}
          %tr
            %td.collapsing Cargo
            %td #{@button.charge_param}
          %tr
            %td.collapsing ¿Mantiene Stock?
            %td #{@button.is_stock_param}
          - if @button.is_stock?
            %tr
              %td.collapsing Cantidad en stock
              %td #{@button.stock}
          %tr
            %td.collapsing Fecha de creación
            %td #{@button.created_at}
          %tr
            %td.collapsing URL
            %td
              %a{href: create_webpay_button_path(shop_id: @shop.id, button_slug: @button), target: '_blank'}
                = create_webpay_button_url(shop_id: @shop.id, button_slug: @button)
          %tr
            %td.collapsing QR
            %td #{image_tag(@button.qr)}
    .row
      .col-md-6.text-md-left.text-xs-center
        %a.btn-flat.margin-top{href: button_index_path} Volver
        .clearfix
        %hr.hidden-md-up
      .col-md-6.text-xs-center.text-md-right
        %a.btn.btn-warning.btn-md{href: edit_button_path(button_slug: @button)}
          Editar
        = link_to button_path(button_slug: @button),
          data: {confirm: '¿Desea eliminar este botón?', 'sweet-alert-type': 'warning'},
          method: :delete, class: 'btn btn-danger btn-md' do
          Eliminar