= render 'partials/content_structure' do
  = render 'shop/partials/shop_structure'
  .card-block
    %p Información de su comercio
    .table-responsive
      %table.table.table-bordered.table-striped
        %tbody
          %tr
            %td.collapsing Nombre
            %td #{@shop.name}
          %tr
            %td.collapsing Descripción
            %td #{@shop.description_param}
          %tr
            %td.collapsing Fecha de creación
            %td #{@shop.created_at}
          %tr
            %td.collapsing ID de comercio
            %td #{@shop.id}
          %tr
            %td.collapsing Llave secreta
            %td #{@shop.secret_key}
          %tr
            %td.collapsing Imagen
            %td
              = image_tag @shop.image.url(:thumb)
    .text-md-right.text-xs-center
      %a.btn.btn-warning.btn-md{href: edit_shop_path(slug: @shop)}
        = icon 'pencil-square-o'
        Editar
      = link_to shop_path(slug: @shop),
        data: {confirm: '¿Desea eliminar este comercio?', 'sweet-alert-type': 'warning'},
        method: :delete, class: 'btn btn-danger btn-md' do
        = icon 'trash-o'
        Eliminar