= render 'partials/content_structure' do
  = render 'shop/partials/shop_structure'
  .card-block
    %p Información de su comercio
    .table-responsive
      %table.table.table-bordered.table-striped
        %tbody
          %tr
            %td.collapsing Nombre
            %td #{@shop.name}
          %tr
            %td.collapsing Descripción
            %td #{@shop.description_param}
          %tr
            %td.collapsing Fecha de creación
            %td #{@shop.created_at}
          %tr
            %td.collapsing ID de comercio
            %td #{@shop.id}
          %tr
            %td.collapsing Llave secreta
            %td #{@shop.secret_key}
          %tr
            %td.collapsing Imagen
            %td
              = image_tag @shop.image.url(:thumb)