= render 'devise/partials/logo' do
  .col-xs-12.col-md-6.offset-md-3.col-lg-6.form-container-parent
    .card
      .card-block
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name))  do |f|
          = render 'devise/partials/alert'
          = f.input :email, label: 'Correo electrónico', autofocus: true
          = f.input :password, label: 'Contraseña', type: :password, autocomplete: 'off'
          - if devise_mapping.rememberable?
            %label.custom-control.custom-checkbox
              = f.check_box :remember_me, class: 'custom-control-input'
              %span.custom-control-indicator
              %span.custom-control-description Recordar
          %hr
          = f.submit 'Ingresar', class: 'btn btn-danger btn-block', data: {:disable_with => 'Verificando'}
          %hr
          = render 'devise/partials/links'