%nav.navbar.z-depth-0
  .navbar-brand #{@shop.name}
%ul.nav.nav-tabs.md-pills.pills-default
  %li.nav-item
    %a.nav-link.text-xs-center{href: shop_path(slug: @shop), :class => ('active' if current_page?(shop_path))}
      = icon 'home'
      Inicio
  %li.nav-item
    %a.nav-link.text-xs-center{href: button_index_path, :class => ('active' if controller_name == 'button')}
      = icon 'credit-card'
      Botones de pago
  %li.nav-item
    %a.nav-link.text-xs-center{href: email_index_path, :class => ('active' if controller_name == 'email')}
      = icon 'envelope-o'
      Cobros por email
  %li.nav-item
    %a.nav-link.text-xs-center{href: page_index_path, :class => ('active' if controller_name == 'page')}
      = icon 'file-o'
      Páginas de cobro
%hr